.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.linkContainer {
    width: 80%;
    display: flex;
    padding: 0 10px;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    list-style: none;
}
.link {
    display: list-item;
    color: #f5f5f7;
    position: relative;

}
.link a {
    color: #f5f5f7;
    text-decoration: none;
}

.link a:hover {
    color: #f5f5f7;
}

.link a:hover::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 70px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
